@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
  --toolightgrey: rgba(229, 239, 245, 0.5);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: karla sans-serif;
}

body {
  background-color: var(--LightGray);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  width: 80%;
  margin-bottom: 16px;
}

.container .firstSection,
.container .LeftSection,
.container .RightSection {
  padding: 30px;
}

.container .firstSection {
  background-color: white;
}

.container .firstSection .title {
  color: var(--Cyan);
  font-size: 1.3em;
  margin: 0 0 16px 0;
}

.container .firstSection .subtitle {
  color: var(--BrightYellow);
  font-size: 1em;
  margin: 16px 0;
}

.container .firstSection .details {
  color: var(--GrayishBlue);
  line-height: 1.5;
  font-size: 0.8em;
}

.container .LeftSection {
  background-color: var(--Cyan);
}

.container .LeftSection .leftSectionTitle {
  color: white;
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.container .LeftSection .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--toolightgrey);
}

.container .LeftSection .price span {
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  padding-right: 14px;
}

.container .LeftSection .priceDesription {
  color: white;
  margin: 8px 0;
}

.container .LeftSection .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .LeftSection button {
  background-color: var(--BrightYellow);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid var(--BrightYellow);
  padding: 8px 30%;
  font-size: 1.1em;
}

.container .RightSection {
  --Cyanbg: rgba(42, 178, 175, 0.75);
  background-color: var(--Cyanbg);
}

.container .RightSection .rightSectionTitle {
  color: white;
  font-size: 1.2em;
  margin-bottom: 16px;
}

.container .RightSection ul {
  list-style-type: none;
  padding: 0;
  --toolightgrey: rgb(255,255,255,0.7);
  color: var(--toolightgrey);
}

.container .RightSection ul li {
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 700px;
    height: 80%;
  }
  .SecondSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .LeftSection, .RightSection {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  button {
    margin-top: 30px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */